.page-header{:style => "position:relative;"}
  .right
    - if user_signed_in? && current_user.person != person
      = aspect_membership_dropdown(contact, person, 'right')
    - elsif user_signed_in? && current_user.person == person
      = link_to t('people.profile_sidebar.edit_my_profile'), edit_profile_path, :class => 'btn info'

  %h1
    = person.name
    %small
      = person.diaspora_handle

  %p
    - if !person.profile.tag_string.blank? && user_signed_in?
      = Diaspora::Taggable.format_tags(person.profile.tag_string)
      - if user_signed_in? && person == current_user.person
        %span.hover_edit
          = link_to t('.edit'), edit_profile_path
    - else
      - if user_signed_in? && person == current_user.person
        %i
          = t('.you_have_no_tags')
          %span.add_tags
            = link_to t('.add_some'), edit_profile_path

