-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

- content_for :page_title do
  = t('.title')

- content_for :head do
  = include_javascripts :people

- content_for :break_the_mold do
  width:100%;


#fixed_left_bar
  = render 'shared/contact_sidebar'

.prepend-6
  #people_stream.stream.contacts
    - if @aspect
      #aspect_header
        #aspect_controls
          - suggested_limit = 16
          - conv_opts = {:class => "button conversation_button", :rel => "facebox"}
          - conv_opts[:title] = t('.many_people_are_you_sure', :suggested_limit => suggested_limit) if @contacts.size > suggested_limit

          = link_to "Edit", edit_aspect_path(@aspect), :rel => "facebox", :class => "button"
          = link_to "Message", new_conversation_path(:aspect_id => @aspect.id, :name => @aspect.name), conv_opts
          - if @contacts.size > suggested_limit
            = javascript_tag "$('.conversation_button').tipsy({trigger: 'hover', gravity: 'n'});"

        %h2
          = @aspect.name

        #aspect_header_info
          %h4
            = @contacts.size
            contacts

    - else
      #aspect_header
        %h2
          = t('contacts.index.my_contacts')

        #aspect_header_info
          %h4
            = @contacts.size
            contacts

    - if @contacts.size > 0
      - for contact in @contacts
        .contact_element{:id => contact.person.id}
          - if @aspect
            .right
              = link_to(image_tag('/images/icons/round_delete.png', :height => 16, :width => 16),
                  {:controller => "aspect_memberships",
                    :action => 'destroy',
                    :id => 42,
                    :aspect_id => @aspect.id,
                    :person_id => contact.person.id},
                  :confirm => t('.remove_person_from_aspect', :person_name => contact.person.first_name, :aspect_name => @aspect.name),
                  :method => 'delete')

          - else
            .aspect_selector
              = render :partial => 'people/relationship_action',
                       :locals => { :person => contact.person, :contact => contact,
                                    :current_user => current_user }

          = person_image_link(contact.person, :size => :thumb_medium, :title => false)
          .name
            =person_link(contact.person, :class => 'from')
            .info
              = contact.person.diaspora_handle

      = will_paginate @contacts
    - else
      %h3.no_contacts
        = t('.no_contacts')

