-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


- content_for :head do
  = include_javascripts :home

.span3.leftNavBar
  .row
    #home_user_badge
      = owner_image_link
      %h5
        = current_user.first_name

    - unless has_completed_getting_started?
      %section
        %dl
          %dt
            = link_to "Welcome", getting_started_path, :class => "home_selector"

    %section
      = render 'aspects/aspect_listings', :stream => @stream

    %section
      %dl
        %dt
          = link_to t('streams.mentions.title'), mentions_path, :class => 'home_selector'

    %section#followed_tags_listing
      = render 'tags/followed_tags_listings'

.span9
  .row
    #aspect_stream_container.stream_container
      = render 'aspects/aspect_stream', :stream => @stream

.span3.rightBar.offset1
  .row
    = render 'aspects/selected_contacts', :stream => @stream
    = render 'shared/right_sections'
