-#   Copyright (c) 2010-2011, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.


- content_for :head do
  = include_javascripts :home

- if current_user.getting_started?
  #welcome-to-diaspora
    .container{:style => "position: relative;"}
      .right
        = link_to image_tag('deletelabel.png'), getting_started_completed_path, :id => "gs-skip-x"
      .span-23
        %h1
          = t('.welcome_to_diaspora', :name => current_user.first_name)
        %h3
          = t('.introduce_yourself')
  %br
  %br
  %br
  %br
  %br

.span3.left-nav
  .row
    #home_user_badge
      = owner_image_link
      %h5
        = link_to current_user.first_name, "/u/#{current_user.username}"

    - unless has_completed_getting_started?
      %dl
        %dt
          = link_to "Welcome", getting_started_path
    %dl
      %dt
        = link_to t('streams.multi.title'), multi_path

    = render 'aspects/aspect_listings', :stream => @stream

    %dl
      %dt
        = link_to t('streams.mentions.title'), mentions_path

    #followed_tags_listing
      = render 'tags/followed_tags_listings'

.span9
  .row
    #aspect_stream_container.stream_container
      = render 'aspects/aspect_stream', :stream => @stream

.span3.rightBar.offset1
  .row
    = render 'aspects/selected_contacts', :stream => @stream
    = render 'shared/right_sections'
